In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_similarity

In [3]:
df = pd.read_csv('Data/cleaned_sales_data2')
df.dropna(inplace = True)
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,79323,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,79323,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
1039557,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
1039558,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
1039559,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1039560,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1039561,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [3]:
pivot = pd.pivot_table(df, index = 'StockCode', columns = ['Customer ID', "Country"], values = 'Quantity')

recommender = pd.DataFrame(cosine_similarity(sparse.csr_matrix(pivot.fillna(0))), columns = pivot.index, 
                              index = pivot.index)
recommender.head()

StockCode,10002,10080,10109,10120,10123,10124,10125,10133,10134,10135,...,90203,90204,90205,90206,90208,90209,90210,90211,90212,90214
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.003690,0.0,0.005655,0.000894,0.006055,0.092224,0.065157,0.001071,0.048056,...,0.000000,0.011159,0.002173,0.000000,0.005502,0.001947,0.285711,0.006380,0.008124,0.001697
10080,0.003690,1.000000,0.0,0.000252,0.000017,0.000880,0.041476,0.012733,0.000138,0.006885,...,0.008174,0.000000,0.000000,0.077748,0.000000,0.046536,0.024929,0.000000,0.000000,0.001634
10109,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.033420,0.000000,0.002604,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10120,0.005655,0.000252,0.0,1.000000,0.000085,0.038513,0.001303,0.010973,0.000000,0.009665,...,0.000000,0.006871,0.000455,0.036350,0.002274,0.000000,0.012821,0.007700,0.011348,0.014518
10123,0.000894,0.000017,0.0,0.000085,1.000000,0.000165,0.001714,0.001827,0.000491,0.000053,...,0.000000,0.000153,0.000000,0.004779,0.000051,0.000000,0.000000,0.000172,0.000000,0.000317